body
{
	background-color : #ccd9ff;
	text-align : center;
	cursor:default;
}

html
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	cursor:default;
	width:  100%;
	height: 100%;
}

h1 
{
	cursor:default;
}

h4
{
	cursor:default;
}

table
{
	cursor:default;
}

tr
{
 	cursor:default;
}

canvas
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	cursor:default;
}

.BGimage img
{
	padding: 5;
	margin: auto;
	text-align: center;
	width:700px;
	height:500px;
	cursor:default;
}

img
{
	text-align: center;
	margin: auto;
	cursor:default;
}

.SocialIcons
{
	padding : 5px;
	cursor:default;
	display: inline-block;
}

.SocialIcons .Twitter  
{
	position: relative;
    display: inline-block;
}

.SocialIcons .Twitter .ImageTop 
{
	display: none;
    position: absolute;
	top: 0;
    left: 0;
    z-index: 99;
}

.SocialIcons .Twitter:hover .ImageTop
{
	display: inline;
}

.SocialIcons .Github  
{
	position: relative;
    display: inline-block;
}

.SocialIcons .Github .ImageTop 
{
	display: none;
    position: absolute;
	top: 0;
    left: 0;
    z-index: 99;
}

.SocialIcons .Github:hover .ImageTop
{
	display: inline;
}

.FolioPieces .UnderImage 
{
	position:relative;
	top: 1%;
	z-index: -1;
	width:75%;
	height:75%
}

table
{
	top:50;
	left:50;
}

h3
{
	position:static;
	left:50%;
	top: 50%;
	transform:translate(-50,50);
	padding-top: 25px;
	color : white;
}

tr
{
	position:absolute;
}

p
{
	padding-left : 15em;
	padding-right: 15em;
	margin:auto;
	color : white;
}

iframe
{
	margin-top: 1em;
}

.TableBackdrop
{
	border:2px solid white;
	border-radius: 15px;
	background-color: rgba(63,110,166,0.40);
	margin:0 2em;
}

.ContentbackDrop
{
	border:2px solid white;
	border-radius: 15px;
	background-color: rgba(63,110,166,0.40);
	padding: 1em;
	margin:0 15em;
}

h4
{
		color : white;
}